
<h1>Welcome#index</h1>
<div class="row" style="text-align:center">
    <div class="col-lg-4">
        <h2> asdasd</h2>
    </div>
    <div class="col-lg-4">
        <h2> asdasd2</h2>
    </div>
    <div class="col-lg-4">
        <h2> asdasd3</h2>
    </div>
</div> 
<% [1,2,3,4,5].each do |item| %>
  <p>El numero es <%= item%> </p>
<% end %>
<% mundo= 'Hola k hace'%>
<%= "vale pito #{mundo}"%>
<p>Find me in app/views/welcome/index.html.erb</p>
